.jumbotron {
  padding-top: 6rem;
  background-color: #ededff;
}

section {
  padding-top: 5rem;
}

.jumbotron a {
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
