.jumbotron {
  padding-top: 6rem;
  background-color: #ededff;
}

/* #experience {
  background-color: #ededff;
} */

section {
  padding-top: 5rem;
}

.jumbotron a {
  padding-left: 20px;
}

.skill {
  padding-bottom: 100px;
}
