.jumbotron {
  padding-top: 6rem;
  background-color: #ededff;
}

section {
  padding-top: 5rem;
}

.jumbotron a {
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
