.jumbotron {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url("../../img/bg.jpg");
  background-size: cover;
  color: white;
}

#about,
#certificate,
#skill,
#experience,
#portfolio,
#contact {
  padding-top: 5rem;
}

.jumbotron a {
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
